<!DOCTYPE html>
<html>
  <head>
    <title> title </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    <h3 class="panel-title">Twilio Verify</h3>
    <form action="/verify" method="post">
    <input type="text" name="country_code" placeholder="Country Code">
    <input type="text" name="phone_number" placeholder="Phone #">
    <input type="submit" value="Request Verification" id="btn_request_verify">
	</form>
  </body>
</html>
